<h3 class="mt-4 mb-2 text-center">Демо-версия приложения для автомаческого обновления товаров в InSales</h3>
<p class="mt-4 mb-4 text-center">Для получения доступа к демо-приложению <%= link_to 'свяжитесь со службой поддержки', 'https://helpdesk.irband.ru' %></p>
<p class="start_page"><%= link_to 'Начать работу с приложением', visitors_path, class: 'btn btn-info' %></p>

