form {
  .editable {
    padding: 10px;
    background-color: #9fffb8;
  }
  span {
    padding: 7px;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-left: 3px;
  }
}

#products_table {
  .sync {
    background-color: #e5ffdc;
  }
}
.form-group.ml-2.button_group {
  span.oi {
    padding: 0;
  }
}
.form_search_distributor {
  span {
    background: #99d098;
  }
}
