form {
  .editable {
    padding: 10px;
    background-color: #9fffb8;
  }
  span {
    padding: 10px;
    display: inline-block;
  }
}

#products_table {
  .sync {
    background-color: #e5ffdc;
  }
}
.form-group.ml-2.button_group {
  span.oi {
    padding: 0;
  }
}
.form_search_distributor {
  span {
    background: #99d098;
  }
}
