.rule {
  .rule__round {
    position: relative;
    display: inline-block;
    font-size: 90%;
    width: 38px;
    height: 38px;
    text-align: center;
    background: red;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: white;
    margin-right: 10px;
  }
  .rule__number {
    position: absolute;
    top: 8px;
    transform: translate(-50%);
  }
  .rule__text {
    vertical-align: bottom;
  }
  .rule__notice {
    padding-left: 200px;
    position: relative;
    &:before {
      position: absolute;
      top: -50px;
      left: 120px;
      font-size: 600%;
      content: '!';
      color: #9cf807;
      background: url("/sing.png");
    }
  }
}
.start_page {
  .btn.btn-info {
    display: block;
    width: 300px;
    margin: 0 auto;
  }
}
